.loginContainer {
  height: 100vh;
  background: url('~@/assets/testtt.png') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm {
  width: 300px;
}
